.listContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    border: 2px solid black;
    padding: 0;
}

li {
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    font-size: 20px;
    color: white;
    background-color: black;
    border: 2px solid gray;
    width: 100%;
    margin: 0;
}

p {
    background-color: silver;
    width: 100%;
    margin: 0;
}